body {
    background-color: #050505;
}

.navbar {
    background-image: linear-gradient(#faf9f9, #5ce1e6 0%, #39a2bd 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

}


.navbar a {
    color: rgb(250, 246, 246);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.container-github img{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    padding: 20px 20px;
    filter:drop-shadow(0px 0px 10px rgb(21, 147, 163));
}

.container-github-snake img{
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Poppins";


}

.button a {
    text-decoration: none;
    color: rgb(8, 224, 240);
    font-family: "Poppins";
}


.text-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    color: aliceblue;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    color: rgb(249, 251, 252);
}

.paragrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: rgb(105, 106, 107);
}


.container a {
    text-decoration: none;
    color: rgb(18, 155, 197);
    font-family: "Poppins";
    font-weight: bold;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Poppins";
    background-image: -webkit-linear-gradient(#000000, #1b6370 0%, #0a0a0a 100%);
    border: #39a2bd solid 1px;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
    height: 300px;
    opacity: calc(100% - 0.8);
}

.card img {
    width: 100%;
    height: 100%;
    border: #39a2bd solid 1px;
}

.card-body h5 {
    font-size: 20px;
    color: rgb(245, 246, 247);
    font-family: "Poppins";
    font-weight: bold;

}

.card button {
    background-color: rgb(12, 12, 12);
    color: #39a2bd;
    font-family: "Poppins";
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
    border: #39a2bd solid 1px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border-top: 1px solid #39a2bd;
    padding: 0.75rem 1rem;

}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}


.svg {
    width: 100%;
    fill: rgb(136, 134, 134);
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: "Poppins ", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #5ce1e6;
}